<!--<Page xmlns="http://schemas.nativescript.org/tns.xsd" actionBarHidden="true">
  <Page.actionBar>-->
    <ActionBar [title]="'APP_NAME' | translate" android.icon="res://icon" android.iconVisibility="always">
      <!-- https://docs.nativescript.org/ui/action-bar#setting-the-app-icon-for-android -->
      <NavigationButton text="Home"></NavigationButton>
      <!--<NavigationButton text="Go Back" android.systemIcon="ic_menu_back" tap="onNavBtnTap"></NavigationButton>-->
      <!--<NavigationButton text="Menu"></NavigationButton>-->
      <!--<ActionItem tap="onShare"
                  ios.systemIcon="9" ios.position="left"
                  android.systemIcon="ic_menu_share" android.position="actionBar"/>
      <ActionItem tap="onDelete"
                  ios.systemIcon="16" ios.position="right"
                  text="delete" android.position="popup"/>-->
    </ActionBar>
<!--  </Page.actionBar>-->
  <!--<StackLayout class="container-content">
    <Label [text]="'GV_MENU_TITLE' | translate" textWrap="true" class="text"></Label>
    <Label [text]="'GV_MENU_INFO' | translate" textWrap="true"></Label>

    <Button (tap)="gotoNext()" [text]="'GV_MENU_NEXT' | translate"></Button>
  </StackLayout>-->
  <GridLayout columns="50, auto, *" rows="50, auto, *" style.backgroundColor="lightgray" >
    <Label text="Label 1" row="0" col="0" backgroundColor="red"></Label>
    <Label text="Label 2" row="0" col="1" colSpan="2" backgroundColor="green"></Label>
    <Label text="Label 3" row="1" col="0" rowSpan="2" backgroundColor="blue"></Label>
    <Label text="Label 4" row="1" col="1" backgroundColor="yellow"></Label>
    <Label text="Label 5" row="1" col="2" backgroundColor="orange"></Label>
    <Label text="Label 6" row="2" col="1" backgroundColor="pink"></Label>
    <Label text="Label 7" row="2" col="2" backgroundColor="purple"></Label>
  </GridLayout>
<!--</Page>-->
